SERVICE_NAME=service-test
SERVICE_PORT=8080

DB_NAME=testing
DB_USERNAME=testing
DB_PASSWORD=testing
DB_HOST=localhost
DB_PORT=5432

OTEL_JAEGER_ENDPOINT=http://localhost:14268/api/traces

JWT_SIGNING_KEY=